* {
color: #ffffff;
background: transparent;
font-size: 14px;
}



#waybar {
    background-color: rgba(0, 0, 0, 0); /* Transparent background for a widget feel */
    border-radius: 0px; /* Rounded corners for the "widget" look */
    margin-top: -150px; /* Move up by half of the 300px height to center it vertically */
    margin-left: 30px; /* Small gap from the left edge */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#cpu {
    
}
