
* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Hack Nerd Font", "Cantarell", "Liberation Serif", sans-serif;
  /*font-family: "D2CodingLigature Nerd Mono";*/
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, .7);
  color: #00F000;
  transition-property: background-color;
  transition-duration: .5s;
}

#waybar.empty #window {
  background-color: transparent;
}

#window {
  margin: 2;
  padding-left: 8;
  padding-right: 8;
  font-weight: bold;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button {
  padding: 5px 5px;
  color: #707070;
}

#workspaces button.empty {
  color: #001000;
}

#workspaces button.visible {
  color: #101010;
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.0);
  color: lightgrey;
}

#workspaces button.urgent {
  background-color: #101010;
}

#window {
  color: lightgrey;
}

#network #pulseaudio #backlight #battery #custom-notification #idle_inhibitor #clock

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#network {
  padding-left: 10px;
  padding-right: 13px;
  color: lightgrey;
}

#pulseaudio {
  padding-left: 5px;
  padding-right: 5px;
  color: lightgrey;
}

#backlight {
  padding-left: 10px;
  padding-right: 10px;
  color: lightgrey;
}

#battery {
  padding-left: 5px;
  padding-right: 5px;
  color: lightgrey;
}

#custom-notification {
  padding-left: 8px;
  padding-right: 8px;
  color: lightgrey;
}

#idle_inhibitor {
  padding-left: 5px;
  padding-right: 5px;
  color: lightgrey;
}

#clock {
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  color: lightgrey;
}

#custom-systeminfo {
  padding-left: 5px;
  padding-right: 5px;
  color: lightgrey;
}

#custom-filemanager {
  padding-left: 5px;
  padding-right: 5px;
  color: lightgrey;
}

#custom-player {
  padding-left: 5px;
  padding-right: 5px;
  color: lightgrey;
}

#custom-editor {
  padding-left: 5px;
  padding-right: 5px;
  color: lightgrey;
}

#custom-browser {
  padding-left: 5px;
  padding-right: 5px;
  color: lightgrey;
}

#custom-terminal {
  padding-left: 5px;
  padding-right: 5px;
  color: lightgrey;
}
